@font-face {
  font-family: 'alarmclock';
  src: url('alarmclock.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  
html {
  height: 100%;
}
body {
  font-family: alarmclock;
  /*background-color: rgb(58, 255, 255);*/
  background: linear-gradient(to left top, rgb(70, 70, 70), rgb(216, 215, 215));
  
}

button {
  font-family: alarmclock;
  font-size: 30px;
  width: 60px;
  height: 40px;
  margin: 12px 2px;
}

#ca {
  position: absolute;
  background-color: rgb(177, 0, 0);
  border-top-color: rgb(172, 0, 0);
  border-left-color: rgb(172, 0, 0);
  border-bottom-color: rgb(167, 0, 0);
  border-right-color: rgb(167, 0, 0);
  width: 50px;
  height: 50px;
  top: -12px;
  right: -69px;
  color: rgb(255, 255, 255)
}

.digit {
  background-color: rgb(255, 255, 255);
}

.operator {
    border-style: solid;
  background-color: rgb(100, 100, 100);
  border-top-color: rgb(85, 85, 85);
  border-left-color: rgb(85, 85, 85);
  border-bottom-color: rgb(70, 70, 70);
  border-right-color: rgb(70, 70, 70);
  color: rgb(255, 255, 255)
}

#output-frame {
  position: relative;
  font-size: 25px;
  margin: 10px 0px 20px 3px;
  padding: 12px 12px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #ddd;
  box-shadow: inset 0px 0px 5px rgba(105, 105, 105, 0.75);
  border-radius: 3px;
  width: 180px;
  height: 25px;
}

.center-screen {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}

#calculator {
  background: linear-gradient( #fa9451,#f86820);
  margin: auto;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px #000;
  width: 286px;
  height: 335px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 3px rgba(143, 143, 143, 0.75);
}
